
.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 59px 90px;
  padding-bottom: 10px;
}
.carousel-item {
  background-color: black;
  width: 225px;
  height: 315px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
  position: relative;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img {
  width: 255px;
  height: 345px;
  object-fit: cover;  /*propiedad para que la imagen recupere el tamaño original*/
}
.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /*el gradient genera un efecto de desvanecido */
  font-size: 15px;
  opacity: .5;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
  bottom: 0;
  align-content:flex-end;/*Las líneas se posicionan en la parte inferior del contenedor*/
  justify-content: flex-end; /*Alinea elementos al lado derecho del contenedor*/
  color: white;
}

.carousel-item__details:hover{
  opacity: 1;
}
.carousel-item__details--title {
  display: block;
  font-size: 12px;
}
.carousel-item-details__img{
  width: 42px;
}
