body{
    background: linear-gradient(to bottom, #131318, #1c1d2a, #25273e, #2f3152, #393c67, #424c7b, #4a5d8f, #526fa4, #5e8aba, #6fa5cf, #85c1e2, #9edcf5) no-repeat fixed;
    overflow-x: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    align-items: center;
    color: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    top: 0;
    width: 100%;
}
.header__img {
    margin-left: 30px;
    width: 200px;
}
.login{
    display: flex;
    align-items: center;
    flex-direction: column ;
    padding: 20px 30px;
    /*min-height: calc(100vh - 200px);*/
}

.login__container{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 41px 68px 40px;
    min-height: 700px;
    width: 300px ;
    box-shadow: 0 0 20px 0 rgb(243, 238, 238);
    display: flex;
    justify-content: space-around;
    flex-direction: column ;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;
}

.login__container--remenber-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remenber-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remenber-me a:hover{
  text-decoration: underline;
}

.login__container--social-media{
    margin-top: 25px;
}

.login__container--social-media > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register{
    display: flex;
    justify-content: center;
}

.login__container--register a{
    font-size: 16px;
    color: white;
    font-weight: bold; /*negrita*/
    text-decoration: none;
}
.login__container--register a:hover{
    text-decoration: underline;
}

.input{
    background-color:transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli',sans-serif;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
    color : #ffffff;
}
::placeholder{
    color: white;
}

.login__container > form > button{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 25px;
    font-family: 'Muli',sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer ;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px; /*espacio enter las letras*/
    margin: 10px 0;
}
.footer{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}