body {
    font-family: 'Muli', sans-serif;
    background: #8a3ab9;
    overflow-x: auto;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 40px;
}
body::-webkit-scrollbar-track {
    background: #8A3AB9;
}

.header {
    background-color: #8a3ab9;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    margin-left: 30px;
    width: 200px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul{
    display: none;
    list-style: none;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: -11px 0 0 -14px;
}
.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
    text-decoration: underline;
}
.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p{
    color: white;
    margin: 0;
}

.main {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main__title{
    color: white;
    font-size: 30px;
}

.categories__title{
    color:white;
    font-size: 20px;
    width: 90%;
    height: 20px;
    margin: 15px 15px 10px 20px;
    display: flex;
    flex-direction: column;
}

.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid white;
    border-width: 1px 4px;
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    width: 70%;
    outline: none;
    color: white;
}
::placeholder{
    color: white;
}

.carousel {
    width: 91.5%;
    height: 100%;
    margin: 20px 75px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}
/* Works on Chrome, Edge, and Safari */
.carousel::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
.carousel::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #8F57FD 0%, #b5b2b2 100%);
    border-radius: 30px;
}

.carousel__container {
    white-space: nowrap;
    margin: 50px 23px;
    padding-bottom: 10px;
}
.carousel-item {
    background-color: black;
    width: 225px;
    height: 315px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center;
    position: relative;
}
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(80px, 0, 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.2);
    opacity: 1;
}
.carousel-item__img {
    width: 420px;
    height: 330px;
    object-fit: cover;  /*propiedad para que la imagen recupere el tamaño original*/
}
.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /*el linear-gradient genera un efecto de desvanecido */
    font-size: 15px;
    opacity: .5;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    bottom: 0;
    align-content: flex-end;/*Las líneas se posicionan en la parte inferior del contenedor*/
    justify-content: flex-end; /*Alinea elementos al lado derecho del contenedor*/
    color: white;
}

.carousel-item__details:hover{
    opacity: 1;
}
.carousel-item__details--title {
    display: block;
    font-size: 12px;
}
.carousel-item-details__img{
    width: 42px;
}
