body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background-color: #8f57fd;
}

.header {
    background-color: #8f57fd;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
text-decoration: underline;        
}
.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p{
    color: white;
    margin: 0px;
}

.main {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main__title{
    color: white;
    font-size: 30px; 
}
.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    border-width: 2px 4px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    margin: 1% 15%;  
    outline: none;
}
::placeholder{
    color: white;
}